* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.navbar {
  text-align: center;
  background-color: rgb(6, 6, 41);
  width: 100%;
  height: 60px;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-weight: 900;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 669px;
  width: 100%;
  background-color: rgb(13, 13, 57);
  z-index: -1;
}
.container .upper-section {
  box-shadow: none;
  border: none;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(7, 2, 48);
  height: 300px;
  width: 500px;
  z-index: 2;
}
.container .upper-section:hover {
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.container .upper-section h1 {
  font-weight: 900;
  padding: 20px;
}
.container .upper-section .input-box {
  border-radius: 8px;
  position: relative;
  top: -20px;
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container .upper-section input {
  color: black;
  background-color: white;
  padding: 9px;
  margin: 12px;
  border-radius: 10px;
  height: 40px;
  font-size: 16px;
}
.container .upper-section input:hover {
  border: 3px solid rgb(1, 6, 43);
}
.container .upper-section button {
  border-radius: 8px;
  background-color: red;
  font-size: 17px;
  font-weight: 900;
  padding: 5px;
  cursor: pointer;
}
.container .lower-section {
  box-shadow:
    rgba(34, 33, 33, 0.795) 0px 3px 6px,
    rgb(164, 161, 161) 0px 3px 6px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(5, 1, 44);
  width: 400px;
  height: 450px;
  padding: 20px;
  z-index: 2;
}
.container .lower-section h2 {
  position: absolute;
  top: 310px;
  padding: 30px;
  width: 200px;
  height: 100px;
  margin: 20px;
  text-decoration: underline red;
  text-align: center;
  font-size: 60px;
}
.container .lower-section ol {
  position: relative;
  top: 70px;
  padding: 20px;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 15px;
  padding-right: 5px;
}
.container .lower-section ol::-webkit-scrollbar {
  display: none;
}
.container .lower-section ol li {
  margin: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.container .back-1 {
  border-radius: 0 0 250% 0;
  background-color: blue;
  height: 668px;
  width: 50%;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
}
.container .back-2 {
  background-color: rgb(228, 235, 28);
  height: 300px;
  width: 300px;
  z-index: 1;
  position: absolute;
  top: 60px;
  right: 420px;
  border-radius: 50%;
}
.container .back-3 {
  background-color: rgb(7, 184, 204);
  height: 200px;
  width: 200px;
  z-index: 1;
  position: absolute;
  top: 500px;
  right: 450px;
  border-radius: 50%;
}
.container .back-4 {
  background-color: rgb(16, 200, 19);
  height: 300px;
  width: 300px;
  z-index: 1;
  position: absolute;
  top: 200px;
  right: 150px;
  border-radius: 50%;
}
.container #img-1 {
  height: 400px;
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 4;
}
.container #img-2 {
  height: 500px;
  position: absolute;
  top: 200px;
  right: 100px;
  z-index: 4;
}
.container .lower-section #taskList li button {
  transition: all 0.3s ease;
}
.container .lower-section #taskList li button:hover {
  background-color: rgb(231, 19, 19);
  border-radius: 8px;
  border: none;
  padding: 5px;
  font-size: large;
  font-size: 10px;
  color: white;
  transition: all 0.3s ease;
}
@media (max-width: 480px) {
  * {
    overflow-y: hidden;
  }
  .navbar {
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
  }
  .container {
    position: absolute;
    top: 60px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .container .upper-section {
    height: 160px;
    overflow: hidden;
    width: 400px;
    display: flex;
  }
  .container .upper-section h1 {
    position: relative;
    bottom: 18px;
    height: 150px;
    font-size: 40px;
  }
  .container .upper-section .input-box {
    position: relative;
    left: 12px;
  }
  .container .lower-section {
    overflow: hidden;
    max-width: fit-content;
    max-height: fit-content;
  }
  .container .lower-section h2 {
    height: 120px;
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
    top: -40px;
    left: 20px;
  }
  .container .lower-section ol {
    position: relative;
    top: -30px;
    background-color: transparent;
    width: fit-content;
    height: 450px;
    padding: 0 0;
    font-size: 30px;
  }
  .container .back-1,
  .container .back-2,
  .container .back-3,
  .container .back-4,
  .container .back-5 {
    display: none;
  }
  .container #img-1 {
    display: none;
  }
  .container #img-2 {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 788px) {
  * {
    overflow: hidden;
  }
  .navbar {
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
  }
  .container {
    position: absolute;
    top: 60px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .container .upper-section {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 350px;
  }
  .container .upper-section h1 {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 40px;
    font-weight: bolder;
  }
  .container .lower-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 360px;
    width: 350px;
  }
  .container .lower-section h2 {
    font-size: 40px;
    margin: 0 0;
    position: absolute;
    top: 180px;
  }
  .container .lower-section ol {
    /* margin: 0px 20px; */
    margin-top: 50px;
  }
  .container .lower-section ol li {
    margin: 10px 30px;
    font-size: 25px;
    font-weight: bolder;
  }
  .container .back-1 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  .container .back-2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    right: 0;
  }
  .container .back-3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: 0;
  }
  .container .back-4 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    right: 330px;
  }
  .container .back-5 {
    background-color: red;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 520px;
    right: 10px;
  }
  .container #img-1 {
    display: NONE;
  }
  .container #img-2 {
    margin: 20px;
    position: absolute;
    height: 200px;
    top: 420px;
    right: 0px;
  }
}
@media (min-width: 789px) and (max-width: 1060px){
  *{
    overflow: hidden;
  }
  .container{
    overflow: hidden;
    width: 100vw;
  }
  .container #img-1{
    height: 150px;
    position: absolute;
    top: 250px;
  }
  .container #img-2{
    height: 450px;
    position: absolute;
    top: 270px;
    right: -50px;
  }
}
@media (min-width: 1060px) and (max-width: 1434px) {
  .container #img-1{
    height: 250px;
    position: absolute;
    top: 200px;
  }
}
@media (max-width: 350px) {
  * {
    overflow: hidden;
  }
  .container {
    height: 100vh;
    width: 100vw;
  }
  .container .upper-section {
    width: 300px;
    height: 100px;
  }
  .container .upper-section h1 {
    font-size: 20px;
    position: absolute;
    top: 30px;
  }
  .container .upper-section .input-box {
    display: flex;
    position: absolute;
    top: 40px;
    height: 100px;
  }
  .container .upper-section input {
    font-size: 10px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
  }
  .container .upper-section button {
    font-size: 8px;
    margin: 5px;
  }
  .container .lower-section {
    width: 300px;
    height: 420px;
  }
  .container .lower-section h2 {
    font-size: 40px;
    position: relative;
    bottom: 40px;
  }
  .container .lower-section ol {
    position: relative;
    bottom: 50px;
    scroll-behavior: smooth;
  }
}
